@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(68.15deg, #21222c 16.62%, #282a36 85.61%);
  font-size: 100%;
}

.main::-webkit-scrollbar {
  width: 8px;
  background-color: #282a36; /* or add it to the track */
}

.main::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.header-img {
  height: 60px;
}

.header-nav {
  display: flex;
  gap: 32px;
}

.header-nav-item {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.content {
  flex: 1;
  margin-bottom: 48px;
  border-top: 0.4px solid #2f303b;
}

.content-principal {
  display: flex;
  padding-top: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.content-principal-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-principal-text-title {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-weight: 400;
  font-size: 38px;
}

.content-principal-text-subtitle {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-weight: 400;
  font-size: 24px;
}

.content-principal-img {
  height: 240px;
  border-radius: 15% 0 15% 0;
}

.footer {
  padding: 14px;
  border-top: 0.4px solid #2f303b;
}

.footer-img {
  height: 48px;
  display: block;
  margin: 0 auto;
}
